myenv
.env
db.sqlite3
db_config.py
csvtosql.py
*.pyc
__pycache__/
db.sqlite3
staticfiles/
.env
*.env
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.idea/
*.vscode/
*.coverage
*.tox/
*.nox/
*.coverage
*.hypothesis/
*.tox/
*.nox/
*.coverage
*.hypothesis/
.vercel
