<!DOCTYPE html>
<html>
<head>
    <title>Home - EV Connect</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Welcome to EV Connect</h1>
        <p class="lead">Your ultimate destination for finding and predicting electric vehicle prices.</p>
        <div class="mt-4">
            <a href="{% url 'find_my_ev' %}" class="btn btn-primary">Find My EV</a>
            <a href="{% url 'predict_my_ev' %}" class="btn btn-secondary">Predict My EV</a>
        </div>
    </div>

    <!-- Include Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
